// Color Palette =========================================================
$textW: white;
$textB: black;
$textHighlight: #d9534f;
$solidHighlight: #f0ad4e;
$solidHighlightHover: #8b6b2b;
$sectionBg: black;

// Fonts ================================================================
// Fuentes aun a designar.
$textPlain: none;
$textBold: none;
$HeadlineBold: none;
$HeadlinePlain: none;

